#!/usr/bin/env bash

## Settings file for RouterOS Let's Encrypt SSL Script

export ROUTEROS_USER="admin"
export ROUTEROS_HOST="10.0.254.254"
export ROUTEROS_SSH_PORT="22"
export ROUTEROS_PRIVATE_KEY="/opt/letsencrypt-routeros/id_dsa"
export DOMAIN="vpnserver.yourdomain.com"
export CERTIFICATE="/etc/letsencrypt/live/$DOMAIN/cert.pem"
export KEY="/etc/letsencrypt/live/$DOMAIN/privkey.pem"
